<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.aisino.plugin.keychainutils"
    version="1.0.0">

    <name>KeyChain Plugin for Cordova iOS</name>
    <description>This plugin allows your app access to the iOS KeyChain from Cordova. See: https://developer.apple.com/library/mac/documentation/security/conceptual/keychainServConcepts/iPhoneTasks/iPhoneTasks.html</description>
    <license>Apache 2.0</license>
    <keywords>keychain</keywords>

    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">
        <!-- feature tag in config.xml -->
        <config-file target="config.xml" parent="/*">
          <feature name="CDVKeychain">
            <param name="ios-package" value="CDVKeychain"/>
          </feature>
        </config-file>

        <js-module src="www/ios/keychain.js" name="CDVKeychain">
            <clobbers target="window.Keychain" />
        </js-module>

        <header-file src="src/ios/CDVKeychain.h" />
        <header-file src="src/ios/KeychainItemWrapper.h"/>

        <source-file src="src/ios/CDVKeychain.m"/>
        <source-file src="src/ios/KeychainItemWrapper.m"/>

        <framework src="Security.framework" />

    </platform>
</plugin>
